<ion-header>
    <ion-grid class="fondo">
      <ion-row class="olvalsuperior"></ion-row>
      <ion-row class="olvalmedio">
        <ion-col></ion-col>
        <ion-col class="oval">
          <div class="rotar">
            <ion-label> Remo </ion-label>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="olvalinferior">
        <div style="width: 100% ; text-align: center">
          <p class="letrapequeña"> El placer del chunchullo en tu panzajajaja</p>
        </div>
      </ion-row>
    </ion-grid>
  </ion-header>
  
  <ion-content class="backHome">
    <form class="backHome">
      <ion-list lines="full" class="ion-no-margin ion-no-padding" class="backHome">
        <ion-grid>
          <ion-row class="Figura" text-center>
            <ion-col>
              <div class="center">
                <div class="imagen">
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="stacked">Usuario:<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="text" style="background-color: white;border-radius: 5%"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="stacked">Contraseña:<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input required type="text" style="background-color: white;border-radius: 5%"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="ion-padding">
                <ion-button expand="block" [routerlink]="['/home/tabs/tab3']" type="submit">Login</ion-button>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <div class="ion-padding">
                <ion-button expand="block" type="submit" color="danger">Registrarse</ion-button>
              </div>
            </ion-col>
            <ion-col></ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </form>
  </ion-content>