<ion-header>
    <ion-grid class="fondo">
      <ion-row class="olvalsuperior"></ion-row>
      <ion-row class="olvalmedio">
        <ion-col></ion-col>
        <ion-col class="oval">
          <div class="rotar">
            <ion-label> Remo </ion-label>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="olvalinferior">
        <div style="width: 100% ; text-align: center">
          <p class="letrapequeña"> El placer del chunchullo en tu panzajajaja</p>
        </div>
      </ion-row>
    </ion-grid>
  </ion-header>
  <ion-content class="backHome">
      <form class="backHome">
        <ion-list lines="full" class="ion-no-margin ion-no-padding" class="backHome">
          <ion-grid>
           <ion-row>
             <ion-col>
              <ion-input class="form-control block" [disabled]="!isenabled" aria-placeholder="Chunchullo" style="background: white" >Chunchullo Con Yuca</ion-input>
            </ion-col>
            <ion-col>
              <ion-button>En Proceso</ion-button>
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col>
               <ion-input class="form-control block" [disabled]="!isenabled" style="background: white" >Warija</ion-input>
             </ion-col>
             <ion-col>
               <ion-button color="success">Preparado</ion-button>
               </ion-col>
            </ion-row>
            <ion-row>
             <ion-col>
              <ion-input class="form-control block" [disabled]="!isenabled" aria-placeholder="Chunchullo" style="background: white" >Chicharrón Pelú</ion-input>
            </ion-col>
            <ion-col>
              <ion-button>En Proceso</ion-button>
              </ion-col>
           </ion-row>
           <ion-row>
              <ion-col>
               <ion-input class="form-control block" [disabled]="!isenabled" style="background: white" >Gua Gua Guarapo</ion-input>
             </ion-col>
             <ion-col>
               <ion-button color="success">Preparado</ion-button>
               </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                 <ion-input class="form-control block" [disabled]="!isenabled" aria-placeholder="Chunchullo" style="background: white" >Jarabe Para La Tos</ion-input>
               </ion-col>
               <ion-col>
                 <ion-button>En Proceso</ion-button>
                 </ion-col>
              </ion-row>
              <ion-row>
                 <ion-col>
                  <ion-input class="form-control block" [disabled]="!isenabled" style="background: white" >Butifarra En Bistec</ion-input>
                </ion-col>
                <ion-col>
                  <ion-button color="success">Preparado</ion-button>
                  </ion-col>
               </ion-row>
               <ion-row style="width: 50%">
                  <ion-col>
                   <ion-input class="form-control block" [disabled]="!isenabled" style="background: white" >Tripas Equinas</ion-input>
                 </ion-col>
               </ion-row>
               <ion-button>Enviar</ion-button>
          </ion-grid>
        </ion-list>
      </form>
    </ion-content>