<ion-header>
    <ion-grid class="fondo">
      <ion-row class="olvalsuperior"></ion-row>
      <ion-row class="olvalmedio">
        <ion-col></ion-col>
        <ion-col class="oval">
          <div class="rotar">
            <ion-label> Remo </ion-label>
          </div>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
      <ion-row class="olvalinferior">
        <div style="width: 100% ; text-align: center">
          <p class="letrapequeña"> El placer del chunchullo en tu panzajajaja</p>
        </div>
      </ion-row>
    </ion-grid>
  </ion-header>

  <ion-content class="backHome">
      <form class="backHome">
        <ion-list lines="full" class="ion-no-margin ion-no-padding" class="backHome">
          <ion-grid>
           
          </ion-grid>
        </ion-list>
      </form>
    </ion-content>