
.welcome-card
{
  height: 507px;
  width: 265px;
  background-image: url("../img/fondo.png");
  background-repeat: no-repeat;
} 



.backHome{
  background-color: #DB8585;
  height: 100%;
  text-align: center
}


