<ion-header>
  <ion-grid class="fondo">
    <ion-row class="olvalsuperior"></ion-row>
    <ion-row class="olvalmedio">
      <ion-col></ion-col>
      <ion-col class="oval">
        <div class="rotar">
          <ion-label> Remo </ion-label>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row class="olvalinferior">
      <div style="width: 100% ; text-align: center">
        <p class="letrapequeña"> El placer del chunchullo en tu panzajajaja</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content>
  <div class="backHome">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>Mesa Nº</ion-label>
       
        <ion-col>
          <ion-item>
            <ion-label>Número</ion-label>
            <ion-select interface="popover" multiple="true">
              <ion-select-option value="M1">1</ion-select-option>
              <ion-select-option value="M2">2</ion-select-option>
              <ion-select-option value="M3">3</ion-select-option>
              <ion-select-option value="M4">4</ion-select-option>
              <ion-select-option value="M5">5</ion-select-option>
              <ion-select-option value="M6">6</ion-select-option>
              <ion-select-option value="M7">7</ion-select-option>
              <ion-select-option value="M8">8</ion-select-option>
              <ion-select-option value="M9">MAX</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-col>
        <ion-col>
          <label>Nº de personas</label>
          <ion-col>
            <ion-item>
            <ion-label>Número</ion-label>
            <ion-select interface="popover" multiple="true">
              <ion-select-option value="IO1">1</ion-select-option>
              <ion-select-option value="IO2">2</ion-select-option>
              <ion-select-option value="IO3">3</ion-select-option>
              <ion-select-option value="IO4">4</ion-select-option>
              <ion-select-option value="IO5">5</ion-select-option>
              <ion-select-option value="IO6">6</ion-select-option>
              <ion-select-option value="IO7">7</ion-select-option>
              <ion-select-option value="IO8">8</ion-select-option>
              <ion-select-option value="IO9">Max</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-col>
      </ion-row>
      <div class="ColorFondo">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Entradas</ion-label>
              <ion-select interface="popover" multiple="true">
                <ion-select-option value="nes">Bananette En Solitario</ion-select-option>
                <ion-select-option value="n64">Papaya Motosierrada</ion-select-option>
                <ion-select-option value="ps">Balín Ablandao'</ion-select-option>
                <ion-select-option value="genesis">Fruits RemiXXX Version</ion-select-option>
                <ion-select-option value="saturn">Torrejas De Tamarinda</ion-select-option>
                <ion-select-option value="snes">Una Fría Con Pitillo</ion-select-option>
                <ion-select-option value="snes">Manzana de Adán</ion-select-option>
                <ion-select-option value="snes">Avena Cubana No Cubana</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Platos Fuertes</ion-label>
              <ion-select interface="popover" multiple="true">
                <ion-select-option value="nes">Chunchullo Con Yuca</ion-select-option>
                <ion-select-option value="n64">Arepaehue' Con Chicha</ion-select-option>
                <ion-select-option value="ps">Changua a la Choriperrada</ion-select-option>
                <ion-select-option value="genesis">Chicharrón Pelú</ion-select-option>
                <ion-select-option value="saturn">Tripas Equinas</ion-select-option>
                <ion-select-option value="snes">Butifarra En Bistec</ion-select-option>
                <ion-select-option value="snes">Ancas Holandesas</ion-select-option>
                <ion-select-option value="snes">Chinchurria con Yuquetta</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Cocteles</ion-label>
              <ion-select interface="popover" multiple="true">
                <ion-select-option value="red">Agua de Maranguango</ion-select-option>
                <ion-select-option value="purple">Ave Ave Avena Fría</ion-select-option>
                <ion-select-option value="yellow">Gua Gua Guarapo</ion-select-option>
                <ion-select-option value="orange">Warija</ion-select-option>
                <ion-select-option value="green">Jarabe Para La Tos</ion-select-option>
                <ion-select-option value="green">Coctel Pascualítico</ion-select-option>
                <ion-select-option value="green">Molotov Cocktail Party</ion-select-option>
                <ion-select-option value="green">Tequila Sunrise (con los ojos rojos)</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Postres</ion-label>
              <ion-select interface="popover" multiple="true">
                <ion-select-option value="nes">Caracolicito </ion-select-option>
                <ion-select-option value="n64">Caramelo De Cianuro</ion-select-option>
                <ion-select-option value="ps">7 Leches</ion-select-option>
                <ion-select-option value="genesis">Maracachafa</ion-select-option>
                <ion-select-option value="saturn">Pan Borracho</ion-select-option>
                <ion-select-option value="snes">Patae' Vaca</ion-select-option>
                <ion-select-option value="snes">American Pie</ion-select-option>
                <ion-select-option value="snes">Cereza Engusanada</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label class="col form-control">Observaciones :</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input class="col form-control" style="background-color: white"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-button class=" prymari">Registrar Pedido</ion-button>
    </ion-grid>
  </div>


</ion-content>